<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
<h1> Criar Usuário</h1>
<form  action='/novousuario' method="POST">
    <label for="name"> Nome Usuário</label>
    <input type="text" id="name" name="nome_usuario" required>
    <button type="submit"> Cadastrar Usuário</button>
</form>

<h1> Usuarios</h1>
<ul>
    {% for usuario in usuarios %}
    <li>
        <form action="{{url_for('hello.editarUsuario', usuario_id=usuario.id)}}",
        method="POST">
            <input type='text' name="nome_usuario" value="{{usuario.username}}" required> 
            <button type="submit"> Atualizar </button>
        </form>


        <form action="{{url_for('hello.removerUsuario', usuario_id=usuario.id)}}",
        method="POST">
        <button action="submit"> Remover</button>
    </form>
    </li>
    {% endfor %}
</ul>
</body>
</html>